body {
  padding-top: 120px;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000000;
  background-image: url("maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 14px;
  line-height: 1.6;
}

.NiCOgdh-title {
  text-align: center;
  color: #fc0000;
  margin-top: 60px;
  font-size: 28px;
}

.NiCOgdh-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  max-width: 600px;
}

.NiCOgdh-section img {
  width: 280px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.NiCOgdh-section img:hover {
  transform: scale(1.05);
}

.NiCOgdh-description-box {
  margin-top: 20px;
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}
